<div class="footer">
    <div class="footer-content">
        <div class="left-column">
            <div class="subscribe-container">
                <p>Stay Updated with Latest Jobs</p>
                <input type="email" placeholder="Email@company.com"> <button>Subscribe</button>
                <div class="contact-info">
                    <p>Email: dummy@gmail.com</p>
                    <p>Phone: +91 1234567890</p>
                </div>
            </div>
            
        </div>
        <div class="right-column">
            <div class="help-section">
                <h6>Help</h6>
                <p>Contact Us</p>
                <p>Privacy Policy</p>
                <p>Fraud Alert</p>
            </div>
        </div>
    </div>
</div>

