<div class="footer">
<h1>Subsribe to our News Letter</h1>

<h2>Stay Updated with latest Jobs</h2>
<input type="email" placeholder="Email@company.com"> <button>Subscribe</button>

<div>
    <p>Email:dummy&#64;gmail.com</p>
    <p>Phone: +91 1234567890</p>
</div>
<div>
    <h6>Help</h6>
    <p>Contact Us</p>
    <p>Privacy Policy</p>
    <p>Fraud Alert</p>
</div>
<hr>
<p class="alert alert-danger">All rights reserved 2025</p>
</div>

<div class="card-footer text-body-secondary">
    2 days ago
  </div>
